/* -------------------------------------------------------------------------- */
/* ---------------------------- CSS 3 - GENERAL ----------------------------- */
/* -------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
/* réinitialisation des paramètres de la page web */
/* Outline et Border concernent les anciens navigateurs */


a {
  display: inline-block; /* liens (et donc la navbar) alignés */
} /* empêche les liens bootstrap, d'impacter mon CSS */

a:hover {
  display: inline-block;
  text-decoration: none !important;
} /* retire le soulignement des liens au survol */


/* ------------------------------ base.html.twig ---------------------------- */
/* -------------------------------------------------------------------------- */
/*---------------------------------- BODY ----------------------------------- */
/* -------------------------------------------------------------------------- */

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Hauteur du container body entre header et footer */
  padding-bottom: 11rem;
  position: relative;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  color: #777;
  background: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} /* style du site par défaut si pas de style précis appliqué */


/* -------------------------------------------------------------------------- */
/*----------------------------- HEADER - NAVIGATION ------------------------- */
/* -------------------------------------------------------------------------- */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: sticky; /* position fixe de la navbar avec Sticky et absolute sur le footer */
  top: 0;
  z-index: 9999; /* permet à la navbar de se superposer au-dessus du caroussel */
  width: 100%;
  height: 87px; /* hauteur du container contenant logo + navbar */
  background-color:#fff;
} /* header contient tous les éléments (logo + navbar + bouton connexion + lien inscription) */


#logo {
  font-family: 'Pacifico', cursive; /* font appliquée sur le logo */
} /* id du h1 logo */

.logo {
  color: #ffb3ba;
  font-size: 2.5rem;
  padding-top: .5rem; /* Couleur du texte du logo + taille du logo + positionnement */
} /* classe du lien sur le logo */

.logo:hover {
  color: #ffb3ba;
  font-size: 2.5rem;
  padding-top: .5rem;
  text-decoration: none;
}

.violet {
  font-size: 32px; /* taille du point */
  color: #cb8fff;
} /* classe appliquée au span représentant le point du logo */


nav ul li {
  display: inline-block;
  margin-right: 20px;
} /* la liste non ordonnée de la navbar alignée sur une ligne + Espacement entre les éléments */

nav ul li a {
  font-family: 'Indie Flower', cursive; /* Font + couleur appliquée sur la navbar */
  color: #0086ad; 
  font-weight: bold;
  font-size: 2.5rem;
  transition: .4s ease-in-out;
} /* style appliqué sur la liste non ordonnée + liens de la navbar */

nav ul li a:hover {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 2.5rem;
  color: #cb8fff;
} /* effet au survol */

ul {
  list-style: none;
  margin-bottom: 0;
}
/* supprime les puces de la navbar */

.couleurs {
  font-size: 32px; /* taille de chaque point */
  color: #fa8072;
} /* classe appliquée au span représentant les points sur la navbar */


.connexion-inscription {
  margin-top: 0.5rem; /* Règlage en hauteur de la div .connexion-inscription */
} /* div contenant l'input .connexion + .h5 + .lien-inscription */

.connexion {
  margin-bottom: 12px; /* Règlage espace entre bouton connexion et lien vers inscription */
  line-height: 36px;
  text-align: center;
  color:#fff;
  font-size: 1.5rem;
  background-color: #0A4589;
  padding: 5px;
  cursor: pointer;
  border-radius: 9px 24px;
  box-shadow: 3px 3px 3px 0px rgba(10, 8, 8, 0.99);
  transition: .5s ease-in-out;
  /* height: 3rem; */
} /* Style du bouton "Connexion" */

.connexion:hover {
  background: #fff;
  color: #777;
  border: 0.5px solid #777;
  box-shadow: 3px 3px 3px 0px rgba(10, 8, 8, 0.99);
  /*height: 3rem; Associé à la hauteur du .connexion, permet suite au survol de la souris de ne pas décaller le bouton qui ne bouge plus */
} /* effet au survol */


.deconnexion-logout {
  margin-top: 0.5rem; /* Règlage en hauteur de la div .deconnexion-logout*/
} /* div contenant l'input .deconnexion + .h5 + .lien-inscription */

.deconnexion {
  margin-bottom: 12px; /* Règlage espace entre bouton déconnexion et lien vers inscription */
  line-height: 36px;
  text-align: center;
  color:#fff;
  font-size: 1.5rem;
  background-color: #0A4589;
  padding: 5px;
  cursor: pointer;
  border-radius: 9px 24px;
  box-shadow: 3px 3px 3px 0px rgba(10, 8, 8, 0.99);
  transition: .5s ease-in-out;
  /* height: 3rem; */
} /* Style du bouton "Déconnexion" */

.deconnexion:hover {
  background: #fff;
  color: #777;
  border: 0.5px solid #777;
  box-shadow: 3px 3px 3px 0px rgba(10, 8, 8, 0.99);
  /*height: 3rem; Associé à la hauteur du .deconnexion, permet suite au survol de la souris de ne pas décaller le bouton qui ne bouge plus */
} /* effet au survol */


.h5 {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  color: #777;
} /* style appliqué sur "Pas encore inscrit ?" */

.lien-inscription {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #0086ad;
  transition: .5s ease-in-out;
} /* class du lien vers inscription (encapsulé dans la .h5) */

.lien-inscription:hover {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  color: #cb8fff;
} /* effet au survol */

/* ------------------------- END - base.html.twig --------------------------- */


/* -------------------------- accueil.html.twig ----------------------------- */
/* -------------------------------------------------------------------------- */
/*--------------------------- IMAGE PRINCIPALE ------------------------------ */
/* -------------------------------------------------------------------------- */

#image_principale {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 280px;
} /* section contenant le h2 .transparent + image ci-dessus dans CSS */

.cont-img-princ {
  background: url("/images/multiwools.jpg") no-repeat;
  height: 280px;
  width: 100%;
  border-radius: 0 0 20px 20px;
}

.film-transparent {
  /* FILM TRANSPARENT APPLIQUE SUR LE H2 CLASSE TRANSPARENT */
  background: #00000036; /* film transparent noir léger */
  height: 280px; /* hauteur du film transparent (identique à celle de la section) */
  border-radius: 0 0 20px 20px;
  box-shadow: 1px 1px 3px #00000078;
  padding-top: 100px;
} /* div contenant le h2 */

.h2-bienvenue {
  color: #f5f5f5;
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 1px 2px #00000078;
} /* STYLE DU MESSAGE DE BIENVENUE */


/* -------------------------------------------------------------------------- */
/*------------------------------- CARROUSEL D'IMAGES ------------------------ */
/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- */
/*-------------------------- FORMULAIRE DE CONTACT -------------------------- */
/* -------------------------------------------------------------------------- */

#formulaire {
  padding: 20px 0px 60px 0px;
  background: #fff;
  border-radius: 30px;
  text-align: center;
  width: 590px;
  margin: 0 auto;
  color: #777;
  font-size: 15px;
  box-shadow: 0 0px 3px 3px #c39797; /* style de la box-shaddow */
} /* div qui contient intégralement le formulaire (éléments de Symfony + mes éléments) */

.titre-formulaire {
  font-weight: bold;
  color: #777;
  font-size: 21px;
} /* h3 "Intéressé ? Contactez-moi !" */

.contact {
  border: 0.07px solid #CFACAC;
  background-color:#c39797;
} /* style de la div .contact à l'intérieur de la section #formulaire */

.champs {
  color: #0A4589;
  font-size: 18px;
  font-weight: bold; /* style des labels nom, prénom, email et message */
} /* div qui contient les labels */


/* ------------------- éléments du formulaire Symfony --------------------- */

#contact_Nom, #contact_Prenom, #contact_email {
  width: 290px; /* largeur des inputs */
  padding: 5px; /* hauteur des inputs */
  font-size: 15px;
  border: 1px solid #777;
  border-radius: 5px;
  margin-left: 147px; /* règle l'input au centre */
} /* inputs nom, prénom et email */

.form-group {
  padding-top: 5px; /* espace en haut entre input et submit */
  padding-bottom: 5px; /* complète le padding-top: 5px; */
} /* div entourant les labels + les inputs */

.control-label {
  margin-bottom: 5px; /* espacement du haut entre label et input */
} /* div contenant les labels nom / prénom / email /message */

#contact_Message {
  margin-left: 147px; /* règlage au centre de l'input */
  width: 300px;
  height: 300px;
  font-size: 15px;
  resize: none; /* fixe le textarea et empêche qu'on l'étire */
  border: 1px solid #777;
  border-radius: 5px;
  font-family: 'Varela Round', sans-serif;
} /* input textarea */

#contact_Envoyer {
  display: flex;
  flex-direction: column; /* centre le bouton en colonne */
  margin-left: 249px; /* règlage au centre du submit */
  width: 100px;
  margin-bottom: 21px;
  line-height: 36px; 
  text-align: center;
  color:#777;
  font-size:18px;
  font-weight: bold;
  background:#fff;
  cursor: pointer; 
  border-radius: 9px 24px;
  box-shadow: 3px 3px 3px 0px rgba(10, 8, 8, 0.99);
  transition: .5s ease-in-out;
  /* height: 3rem; */
} /* bouton "Envoyer" */

#contact_Envoyer:hover {
  background: #0A4589;
  margin-bottom: 19px;
  color: #fff;
  border: 1px solid grey;
  box-shadow: 3px 3px 3px 0px #fff;
  /* height: 5rem; */
} /* animation au survol du bouton Envoyer */

/* ------------------- END - éléments du formulaire Symfony ----------------- */


/* ------------------------------- Image Bitmoji ---------------------------- */

.bitmoji-image {
  margin-top: 30px;
  position: relative;
  top: 0;
  right: 0; /* permet au bloc de se fixer suite à l'animation */
  animation: 3s movelyline; /* fonctionne avec la keyframes ci-dessous */
} /* div qui contient la .bitmoji-enveloppe */

.bitmoji-enveloppe {
  height: 302px;
  width: 302px;
  border-radius: 90px;
  border: 1px solid #808080;
  box-shadow: 0 0 7px 0 #cb8fff;
} /* image de la bitmoji identifiée par sa classe */

@keyframes movelyline {
  from {
      right: 50%;
  }
  to {       
      right: 0;
  }
}
/* la bitmoji va partir de 50% de la droite (commande inversée) et s'arrêter à 0 (sur le même axe) */

/* ---------------------------- END - Image Bitmoji ------------------------- */


/* ------------------------ END - accueil.html.twig ------------------------- */


/* ------------------------ mes_creations.html.twig ------------------------- */
/* -------------------------------------------------------------------------- */
/*------------------------------ MES CREATIONS ------------------------------ */
/* -------------------------------------------------------------------------- */

#mes-creations {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 30px 0 30px;
} /* section qui contient toutes les cartes */

.carte {
  height: 25rem;
  width: 20rem;
  margin: 12px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 6px grey;
} /* div de la carte */

.div-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #00000028;
} /* div contient image + le h3 */

.ensemble-creations {
  max-height: 10rem;
  border-radius: 10px;
} /* classe de chaque image */

.lien-description {
  font-size: 1rem;
  font-weight: bold;
  color: #777;
  transition: .2s ease-in-out;
} /* classe associée au lien du h3 */

.lien-description:hover {
  font-size: 1rem;
  font-weight: bold;
  color: #0086ad;
} /* effet au survol de la classe associée au lien du h3 */

.div-description {
  width: 600px;
  height: 400px; 
} /* div contenant la description sur chaque carte */

.sous-description {
  width: 0;
  height: 0;
   text-align: justify;
} /* classe du paragraphe de chaque description */

/* --------------------- END - mes_creations.html.twig ---------------------- */


/* -------------------------- description1.html.twig ------------------------ */
/* -------------------------------------------------------------------------- */
/* ---------------------------------- TITRE --------------------------------- */
/* -------------------------------------------------------------------------- */

.titre-creation {
  text-align: center;
  width: 65rem;
  padding: 30px 0 20px 0;
  margin: 30px 290px 0 290px;
  background-color: #fff;
  font-size: 27px;
  font-weight: bold;
} /* classe du h3 */


/* -------------------------------------------------------------------------- */
/* ---------------------------------- IMAGES -------------------------------- */
/* -------------------------------------------------------------------------- */

.affichage {
  display:flex;
  align-items: center;
  justify-content: center; /* bloc centré avec Flex box */
  width: 65rem;
  height: 48rem;
  background: Rgba(255, 255, 255, 0.5); /* transparent */
} /* section qui contient images */

.description {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
  font-size: 1rem;
} /* div qui contient l'image principale */

#picture {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Dimensions de l'image dans la div description */
  /* margin-top: 30px;
  margin-bottom: 30px; */
  margin-right: 50px;
  border: 3px solid #c39797;
  border-radius: 8px;
} /* id de l'image principale */

.choix {
  padding: 20px 0 20px 20px;
} /* La div qui entoure toutes les vignettes (div .creation) */

.creation img {
  margin-top: 5px; /* Espace vertical entre les vignettes */
  width: 110px;
  border: 3px solid #c39797;
  border-radius: 8px;
  cursor: pointer;
} /* div creation + chaques vignettes alignées les unes en dessous des autres */

/* -------------------------------------------------------------------------- */
/* ----------------------------- DESCRIPTION -------------------------------- */
/* -------------------------------------------------------------------------- */

.details {
  width: 65rem;
  min-height: 15rem;
  padding: 20px 0 20px 0;
  background-color: #fff;
  line-height: 30px;
} /* div qui entoure le h3 .description-creation et le p .texte */

.description-creation {
  margin-left: 2rem;
  font-size: 18px;
  font-weight: bold;
} /* h3 de l'encadré description */

.texte-description {
  text-align: justify;
  margin-left: 2rem;
} /* classe du paragraphe */


/* -------------------------------------------------------------------------- */
/* -------------------------------- COMMENTAIRE ----------------------------- */
/* -------------------------------------------------------------------------- */

.commentaires {
  padding-top: 1rem;
  margin-bottom: 30px;
  width: 65rem;
  min-height: 15rem;
  background-color: Rgba(255, 255, 255, 0.5);
  line-height: 30px;
} /* div qui contient le h3 .commentaires-creation et le p .texte */

.commentaires-creation {
  margin-left: 2rem;
  font-size: 18px;
  font-weight: bold;
} /* h3 de l'encadré commentaires */

.texte-commentaires {
  text-align: justify;
  margin-left: 2rem;
}

/* ---------------------- END - description1.html.twig ---------------------- */


/* ------------------------ general_a_propos.html.twig ---------------------- */
/* -------------------------------------------------------------------------- */
/*------------------------------ A PROPOS DE MOI ---------------------------- */
/* -------------------------------------------------------------------------- */

#lyline-hello {
  display: flex;
  justify-content: center;
  align-items: center;
} /* section qui contient l'image de Lyline */

.lyline-se-presente {
  margin-top: 30px;
  width: 280px;
  border: 1px solid #808080;
  border-radius: 200px;
} /* classe de l'image de Lyline */


/* -------------------------------------------------------------------------- */
/*------------------------------- QUI SUIS-JE ? ----------------------------- */
/* -------------------------------------------------------------------------- */

#qui-suis-je {
  width: 80%; /* largeur de l'encadré */
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
  min-width: 480px;
  box-shadow: 0 0 7px 0 #fa8072; /* Stylisation de chaque encadré */
} /* section qui contient tout l'encadré "Qui suis-je ?" */


.qui-suis-je {
  margin-top: 30px;
  color: #0086ad;
  font-size: 30px;
  text-align: center;
} /* h2 "Qui suis-je ?" */

.paragraphe-a-propos {
  color: #777;
  font-size: 20px;
  text-align: center;
} /* chaque paragraphe contenant les textes */

.salutations {
  margin-bottom: 30px;
  text-align: center;
} /* div contenant la signature */

.signature {
  color: #ffb3ba;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 30px;
} /* Stylisation du h2 de la signature */


/* -------------------------------------------------------------------------- */
/*---------------------------- MES FOURNISSEURS ----------------------------- */
/* -------------------------------------------------------------------------- */

#mes-fournisseurs {
  width: 80%; /* largeur de l'encadré */
  margin-bottom: 30px;
  background: #fff;
  min-width: 480px;
  box-shadow: 0 0 7px 0 #fa8072; /* Stylisation de l'encadré */
} /* section qui contient tout l'encadré "Mes fournisseurs" */

.mes-fournisseurs {
  margin-top: 30px;
  color: #0086ad;
  font-size: 30px;
  text-align: center;
} /* h2 "Mes fournisseurs" */

.zeeman-iceyarns {
  color: #777;
  font-size: 20px;
  transition: .5s ease-in-out;
} /* class apposée sur les 2 liens vers des pages internet */

.zeeman-iceyarns:hover {
  color: #ffb3ba;
  font-size: 20px;
} /* effet au survol */


/* -------------------------------------------------------------------------- */
/*----------------------- MES INSPIRATIONS ET ASTUCES  ---------------------- */
/* -------------------------------------------------------------------------- */

#mes-inspirations-astuces {
  width: 80%; /* largeur de l'encadré */
  margin-bottom: 30px;
  background: #fff;
  min-width: 480px;
  box-shadow: 0 0 7px 0 #fa8072; /* Stylisation de l'encadré */
} /* section qui contient tout l'encadré "Mes inspirations et astuces" */

.mes-inspirations-astuces {
  margin-top: 30px;
  color: #0086ad;
  font-size: 30px;
  text-align: center;
} /* h2 "Mes inspirations et astuces" */


/* -------------------------------------------------------------------------- */
/*-------------------------- MES ACTIONS CARITATIVES ------------------------ */
/* -------------------------------------------------------------------------- */

#actions-caritatives {
  width: 80%; /* largeur de l'encadré */
  background: #fff;
  min-width: 480px;
  box-shadow: 0 0 7px 0 #fa8072; 
} /* Stylisation de l'encadré */

.actions-caritatives {
  margin-top: 30px;
  color: #0086ad;
  font-size: 30px;
  text-align: center;
} /* h2 "Mes actions caritatives" */

#bonnet-innocent {
  margin-top: 30px;
  margin-bottom: 30px;
} /* section qui contient les images des bonnets Innocent */

.bonnet-innocent-1 {
  margin-right: 200px;
  height: 302px;
  width: 302px;
  border-radius: 90px;
  border: 1px solid #808080;
  box-shadow: 0 0 7px 0 #cb8fff; /* ombre violette qui entoure l'image */
} /* classe donnée à la première image */

.affiche-innocent {
  border: 1px solid #808080;
  width: 380px;
} /* classe donnée à la deuxième image */

.bonnet-innocent-2 {
  margin-left: 200px;
  height: 300px;
  width: 350px;
  border-radius: 90px;
  border: 1px solid #808080;
  box-shadow: 0 0 7px 0 #98CE54; /* ombre verte qui entoure l'image */
} /* classe donnée à la troisième image */

/* -------------------- END - general_a_propos.html.twig -------------------- */


/* ------------------------------ base.html.twig ---------------------------- */
/* -------------------------------------------------------------------------- */
/*---------------------------------- FOOTER --------------------------------- */
/* -------------------------------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 8rem;
  background: #fff;
  font-size: 19px;
  box-shadow: 0 0 7px 0 #cb8fff;
} /* div principale */

.elements-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
} /* div contenant tous les éléments du footer */

.copyright {
  padding-top: 2.6rem;
  margin-right: 5rem; /* Distance entre les élements du footer */
  color: #808080;
} /* classe du h6 "Copyright" */

.confidentialite {
  padding-top: 2.5rem;
  margin-right: 5rem;
  color: #808080;
} /* classe du h6 "Conditions générales d'utilisation" */

.politique_de_confidentialite {
  color: #ffb3ba;
  text-shadow: 1px 1px 1.5px #00000007;
  transition: 0.5s ease-in-out;
} /* classe associée au lien */

.politique_de_confidentialite:hover {
  color: #0086ad;
} /* effet au survol */

.lien-instagram {
  margin-left: 1rem;
} /* classe associée au lien vers la page instagram de Lyline */

.logo-instagram {
  height: 3rem;
  width: 3rem;
} /* classe associée au logo instagram (encapsulé dans le lien) */

.insta {
  padding-top: 2rem;
  font-size: 1.2rem;
  color: #777;
}

/* ------------------------- END - base.html.twig --------------------------- */


/* ----------------- politique_de_confidentialite.html.twig ----------------- */
/* -------------------------------------------------------------------------- */
/*------------------- POLITIQUE DE CONFIDENTIALITE ET CGU ------------------- */
/* -------------------------------------------------------------------------- */

#CGU-container {
  color: black;
  padding: 30px 30px 30px 30px;
  text-align: center;
} /* section qui contient tous les éléments */

.CGU-h1 {
  font-size: 20px;
  font-weight: bold;
} /* classe associée au h1 */

.CGU-h2 {
  font-size: 18px;
  font-weight: bold;
  color: black;
} /* classe associée aux h2 */

/* -------------- END - politique_de_confidentialite.html.twig -------------- */