/* -------------------------------------------------------------------------- */
/* ---------------------------- CSS 3 - GENERAL ----------------------------- */
/* -------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
/* Réinitialisation des paramètres de la page web */
/* Outline, Border concernent les anciens navigateurs */

/* -------------------------------------------------------------------------- */
/*---------------------------------- BODY ----------------------------------- */
/* -------------------------------------------------------------------------- */

body {
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  background: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
/* Style par défaut si pas de style précis appliqué */


/* ----------------------------- PAGE D'ACCUEIL ----------------------------- */

/* -------------------------------------------------------------------------- */
/*----------------------------- HEADER - NAVIGATION ------------------------- */
/* -------------------------------------------------------------------------- */

.container {
  width: 100%;
  height: 120px; /*Hauteur du container contenant logo + navbar */
  background-color:#fff;
}
/* Position fixe de la navbar avec Sticky et absolute + ajustement hauteur + largeur + ajout background blanc. */

#logo {
  font-family: 'Pacifico', cursive;
  margin-left: 20px;
  height: 80px;
  float: left;
  margin-top: 32px;
}
/* Flottement à gauche du logo */

.violet {
  color: #cb8fff;
}
/* Style du point sur le logo */

nav {
  float: right;
  padding-top: 50px;
}
/* Flottement à droite de la navbar + ajustement en haut et à droite*/

nav ul li {
  display: inline-block;
  margin-right: 20px;
}
/* La navbar alignée sur une ligne + Espacement entre les éléments de la nav*/


nav ul li a {
  font-family: 'Indie Flower', cursive;
  color: #0086ad;
  font-weight: bold;
  font-size: 25px;
}
/* Font + couleur appliquée sur la navbar */

.couleurs {
  font-size: 32px;
  color: #fa8072;
}
/* Style des points sur chaque élément de la nav */

a {
  text-decoration: none;
  color: #ffb3ba;
} /* Couleur du texte du logo */

.nav {
  text-decoration: none;
}
/* Supprime le soulignement des liens de la navnar */

.nav:hover {
  color: #4ca3dd;
}

ul {
  list-style: none;
}
/* Supprime les puces de la navbar */

.connexion-inscription {
  float: left;
  margin-left: 380px;
  margin-top: 30px; /* Règlage en hauteur de la div .connexion-inscription */
/* Réglages de la position du bouton + inscription */
}

.connexion {

  margin-bottom: 12px; /* Règlage espace entre bouton connexion et lien vers inscription */
  line-height: 36px;
  text-align: center;
  color:#fff;
  font-size:18px;
  background-color: #0A4589;
  padding: 8px;
  cursor: pointer;
  border-radius: 9px 24px;
  box-shadow: 3px 3px 3px 0px rgba(10, 8, 8, 0.99);
  height: 3rem; 
}
/* Styliser le bouton "Connexion" */

.connexion:hover {
  background: #fff;
  color: #777;
  border: 0.5px solid #777;
  box-shadow: 3px 3px 3px 0px rgba(10, 8, 8, 0.99);
  height: 3rem; /* Associé à la hauteur du .connexion, permet suite au survol de la souris de ne pas décaller le bouton qui ne bouge plus */
}
/* Styliser le bouton "Connexion" au survol */

h5 {
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  color: #777;
}

.lien-inscription {
  color: #0086ad;
}

/* -------------------------------------------------------------------------- */
/*------------------------------- IMAGE PRINCIPALE -------------------------- */
/* -------------------------------------------------------------------------- */

#image_principale {
  height: 280px;
  background: url("/images/multiwools.jpg") no-repeat;
  border-radius: 0 0 20px 20px;
}

#image_principale h2 {
  color: #f5f5f5;
  font-size: 50px;
  text-shadow: 1px 1px 2px #00000078;
  text-align: center;
  padding: 50px 0 40px 0;
}

.transparent {
  height: 190px;
  border-radius: 0 0 20px 20px;
  box-shadow: 1px 1px 3px #00000078;
  background: #00000036;
}

/* -------------------------------------------------------------------------- */
/*------------------------------- IMAGES SUR LE COTE DU CARROUSEL ------------------------ */
/* -------------------------------------------------------------------------- */

 @keyframes movetop {
   from {
        top: 0px;
    }
    to {       
        top: 45%;
    }
} 

.bitmoji-image-principale {
/*  background: yellow; / Pour y voir plus clair LOL */
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-left: 110px; /* Espace de la div côté gauche */
  position: absolute;
  top: 45%; /* Permet au bloc de se fixer suite à l'animation */
  left: 0;
  animation: 3s movetop;
} /* Animation qui fonctionne avec la Keyframes juste au-dessus */

.bitmoji-coeur {
  height: 302px;
  width: 302px;
  border-radius: 90px;
  border: 1px solid #808080;
  box-shadow: 0 0 7px 0 #cb8fff;
}

/* -------------------------------------------------------------------------- */
/*------------------------------- CARROUSEL D'IMAGES ------------------------ */
/* -------------------------------------------------------------------------- */

#carrousel {
  display: flex;
  justify-content: center;
  margin-left: 0 auto; /* Espace entre la bitmojo et le carrousel */
}

.slider {
  overflow: hidden;
  width: 800px;
  height: 500px;
  border: 30px solid white;
  box-shadow: 1px 1px 3px #00000078;
} /* div qui contient le carrousel + dimensions du carrousel */

figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
} /* div qui contient les images */

.images-carrousel {
  float: left;
  width: 20%;
} /* Chaque image 
     Le width: 20% place correctement une image par séquence */ 

@keyframes slider {
  0% {
    left: 0;
  }
  
  20% {
    left: 0;
  }
  
  25% {
    left: -100%;
  }
  
  45% {
    left: -100%;
  }
  
  50% {
    left: -200%;
  }
  
  70% {
    left: -200%;
  }
  
  75% {
    left: -300%;
  }
  
  95% {
    left: -300%;
  }
  
  100% {
    left: -400%;
  }
}

/* -------------------------------------------------------------------------- */
/*-------------------------- FORMULAIRE DE CONTACT -------------------------- */
/* -------------------------------------------------------------------------- */

 @keyframes movelyline {
    from {
        right: 50%;
    }
    to {       
        right: 0px;
    }
}

.bitmoji-image {
/*  background: blue; Pour y voir plus clair LOL */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  position: relative;
  top: 0;
  right: 0; /* Permet au bloc de se fixer suite à l'animation */
  animation: 3s movelyline;
}

.bitmoji-enveloppe {
  height: 302px;
  width: 302px;
  border-radius: 90px;
  border: 1px solid #808080;
  box-shadow: 0 0 7px 0 #cb8fff;
}

#formulaire {
  padding: 20px 0px 60px 0px;
  background: #fff;
  border-radius: 30px;
  text-align: center;
  width: 590px;
  margin: 0 auto;
  color: #777;
  font-size: 15px;
  box-shadow: 0 0px 3px 3px #c39797;
}
/* Style de la box-shaddow qui contient tout */

h3 {
  font-weight: bold;
  color: #777;
  font-size: 21px;
}
/* Intéressé ? Contactez-moi ! */

.contact {
  border: 0.07px solid #CFACAC;
  background-color:#c39797;
}
/* Style de la div .contact à l'intérieur du bloc #formulaire */

.champs {
  color: #0A4589;
  font-size: 18px;
  font-weight: bold;
}
/* Style des labels nom, prénom, email et message */

#contact_Nom, #contact_Prenom, #contact_email {
/*  background-color: aqua;*/
  width: 290px; /* largeur de l'input */
  padding: 5px; /* hauteur des inputs */
  font-size: 15px;
  border: 1px solid #777;
  border-radius: 5px;
  margin-left: 147px; /* Règlage au centre de l'input */
} /* Inputs nom, prénom et email */

.form-group {
/*  background-color: blueviolet;*/
  display: flex;
  flex-direction: column; /* Centre le tout en colonne */
  padding-top: 5px; /* Espace en haut entre input et submit */
  padding-bottom: 5px; /* complète le padding-top: 5px; */
} /* div entourant les labels + les inputs */

.control-label {
/*  background-color: brown;*/
  margin-bottom: 5px; /* Espacement du haut entre label et input */
} /* div contenant les labels nom / prénom / email /message */

#contact_Message {
  margin-left: 147px; /* Règlage au centre de l'input */
  width: 300px;
  height: 300px;
  font-size: 15px;
  resize: none;
  border: 1px solid #777;
  border-radius: 5px;
  font-family: 'Varela Round', sans-serif;
} /* Input textarea */

#contact_Envoyer {
  margin-left: 249px; /* Règlage au centre du submit */
  width: 100px;
  margin-bottom: 21px;
  line-height: 36px; 
  text-align: center;
  color:#777;
  font-size:18px;
  font-weight: bold;
  background:#fff;
  padding: 8px;
  cursor: pointer; 
  border-radius: 9px 24px;
  box-shadow: 3px 3px 3px 0px rgba(10, 8, 8, 0.99); 
} /* Bouton Envoyer */

#contact_Envoyer:hover {
  background: #0A4589;
  margin-bottom: 19px;
  color: #fff;
  border: 1px solid grey;
  box-shadow: 3px 3px 3px 0px #fff;
} /* Animation au survol du bouton Envoyer */


/* -------------------------------------------------------------------------- */
/*-------------------------- MES CREATIONS -------------------------- */
/* -------------------------------------------------------------------------- */

.ensemble-creations {
  
  width:500px;
}

/* ----------------------------- DESCRIPTION 1 ------------------------------ */

.titre-creation {
  text-align: center;
  padding: 40px 0 40px 0;
  /* Pour régler le top et le bottom les 0 correspondent au règlage gauche et droite du heading  */
  margin: 30px 290px 0 290px;
  background-color: #fff;
  font-size: 35px;
}

#affichage {
  display:flex;
  align-items: center; /* Ajuster l'espace en haut du block centré */
  justify-content: center;
  background: Rgba(255, 255, 255, 0.5);
  margin: 0 290px 0 290px; /* règlage bloc transparent gauche et droite */
} /* Le bloc qui contient toutes les images avec filtre transparent */

#picture {
  width: 600px;
  height: 600px; /* Dimensions contenant de l'image */
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 50px;
  border: 3px solid #c39797;
  border-radius: 8px;
} /* L'image sélectionnée */

.choix {
  padding: 20px 0 20px 0;
} /* La div qui entoure toutes les vignettes */

.creation img {
  margin-top: 5px; /* Espace entre les vignettes */
  width: 110px;
  border: 3px solid #c39797;
  border-radius: 8px;
  cursor: pointer;
} /* Les vignettes alignées les unes en dessous des autres */

.details {
  padding: 20px 0 20px 0;
  margin: 0 290px 0 290px;
  background-color: #fff;
  line-height: 30px;
} /* Texte de la description */

.description-creation {
  margin-left: 150px;
}

.texte {
  text-align: justify;
/*  line-height: 30px;*/
}

                            /* COMMENTAIRE */

.commentaires {
  padding-top: 30px;
  padding: 20px 0 20px 0;
  margin: 0 290px 0 290px;
  background-color: Rgba(255, 255, 255, 0.5);
  line-height: 30px;
  
}

.commentaires-creation {
  margin-left: 150px;
}

/* ----------------------------- A PROPOS DE MOI ---------------------------- */

/* -------------------------------------------------------------------------- */
/*------------------------------- QUI SUIS-JE ? ----------------------------- */
/* -------------------------------------------------------------------------- */

#lyline-hello {
  display: flex;
  justify-content: center;
  align-items: center;
} /* La section qui contient l'image de Lyline */

.lyline-se-presente {
  margin-top: 30px;
  width: 280px;
  border: 1px solid #808080;
  border-radius: 200px;
} /* L'image en elle-même de Lyline */

/* ------ PARTIE QUI SUIS-JE ? ------ */

#qui-suis-je {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
  min-width: 480px;
  box-shadow: 0 0 7px 0 #fa8072;
}
/* Stylisation de l'encadré */

h2 {
  color: #0086ad;
  font-size: 30px;
  text-align: center;
  padding: 25px 0 25px 0;
} /* Qui suis-je ? */

p {
  color: #777;
  font-size: 20px;
  text-align: center;
  margin-right: 150px;
  margin-left: 150px;
} /* Le texte */

.salutations {
  text-align: center;
} /* La signature "Lyline." centrée */

.signature {
  color: #ffb3ba;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 30px;
} /* Style octroyé à la signature */

/* ------ PARTIE MES FOURNISSEURS ------ */

#mes-fournisseurs {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
  min-width: 480px;
  box-shadow: 0 0 7px 0 #fa8072;
} /* Stylisation de l'encadré */

.zeeman-yarnparadis {
  color: #777;
  font-size: 20px;
}

/* ------ PARTIE MES INSPIRATIONS ET ASTUCES ------ */

#mes-inspirations-astuces {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
  min-width: 480px;
  box-shadow: 0 0 7px 0 #fa8072;
} /* Stylisation de l'encadré */

/* ------ PARTIE MES ACTIONS CARITATIVES ------ */

#actions-caritatives {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
  min-width: 480px;
  box-shadow: 0 0 7px 0 #fa8072;
} /* Stylisation de l'encadré */

#bonnet-innocent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.affiche-innocent {
  border: 1px solid #808080;
  width: 380px;
}

.bonnet1 {
  margin-right: 200px;
  height: 302px;
  width: 302px;
  border-radius: 90px;
  border: 1px solid #808080;
  box-shadow: 0 0 7px 0 #cb8fff;
}

.bonnet2 {
  margin-left: 200px;
  height: 300px;
  width: 350px;
  border-radius: 90px;
  border: 1px solid #808080;
  box-shadow: 0 0 7px 0 #98CE54;
}


/* -------------------------------------------------------------------------- */
/*---------------------------------- FOOTER --------------------------------- */
/* -------------------------------------------------------------------------- */

footer {
  margin-top: 30px;
  width: 100%;
  height: 100px;
  background: #fff;
  min-width: 480px;
  font-size: 23px;
  box-shadow: 0 0 7px 0 #cb8fff;
}

h6 {
  padding-top: 40px;
  text-align: center;
  color: #808080;
}
