{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig'%}

{% block title %}{{ title }}{% endblock %}

{% block body %}

                     <!-- IMAGE PRINCIPALE -->
  <section id="image_principale">
     <h2 class="transparent">Bienvenue dans mon univers !</h2>
  </section>
  <br><br>
                      <!-- CARROUSEL D'IMAGES  -->

<section id="carrousel">
                      <!--Image bitmoji -->
  <div class="bitmoji-image-principale">
    <img class="bitmoji-coeur" src="{{ asset('images/bitmoji(1).jpeg') }}" alt="Lyline-coeur">
  </div>
  
   <div class="slider">
       <figure>
       <img class="images-carrousel" src="images/stormtrooper.png" alt="stormtrooper">
       <img class="images-carrousel" src="images/chats-gris-jaune.jpeg" alt="chats-gris-jaune">
       <img class="images-carrousel" src="images/licorne.jpeg" alt="licorne">
       <img  class="images-carrousel"src="images/chaussons-roses.png" alt="chaussons-roses">
       <img class="images-carrousel" src="images/stormtrooper.png" alt="stormtrooper">
     </figure>
   </div>
</section>

    <br/><br/>

                          <!-- FORMULAIRE DE CONTACT -->
                              
<section id="formulaire">  
  <h3>Intéressé ? Contactez-moi !</h3>
   <br>
    <div class="contact">
      <br>
      <div class="champs">

        {{ (form(form)) }}

      <br>
      </div>
    </div>
</section>
 
 <div class="bitmoji-image">
    <img class="bitmoji-enveloppe" src="{{ asset('images/bitmoji(6).jpeg') }}" alt="Lyline-enveloppe"> 
 </div>

{% endblock %}
