{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h2>Mes créations en travaux</h2>

<!-- FOOTER -->
<footer>
    <h6>&copy; Copyright</h6>
</footer>

{% endblock %}
