{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<section id="mes-creations">
 <div class="carte">
 
<!-- Boucle for relié à celle définie dans mon controller General  -->
  {% for i in crea %}
  
  <img class ="ensemble-creations" src="{{ asset('/images/' ~ i.image) }}
" alt="Licorne">
  <p class="titre">{{ i.titre }}</p>
  <hr>
  <p class="description">{{ i.description }}</p>
 </div>
 
  {% endfor %}

{% endblock %}

